<% if @camp.errors.any? %>
	<% @camp.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
<% end %>

<%= form_for @camp do |f| %>
	<p></p>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :address %>
		<%= f.text_area :address %>
	</div>
	<div>
		<%#= f.label :latitude %>
		<%#= f.text_area :latitude %>
	</div>
	<div>
		<%#= f.label :longitude %>
		<%#= f.text_area :longitude %>
	</div>
	<div>
		<%= f.label :facilities %>
		<%= f.select :facilities, ['Primitive', 'Bathrooms', 'Showers & Bathrooms'] %>
	</div>
	<div>
		<%= f.label :terrain %>
		<%= f.select :terrain, ['Mountainous', 'Hilly', 'Flat'] %>
	</div>
	<div>
		<%= f.label :fires %>
		<%= f.select :fires, ['Permitted', 'Prohibited'] %>
	</div>
	<div>
		<%= f.label :activities %>
		<%= f.select :activities, ['Canoeing', 'Fishing', 'Hiking'] %>
	</div>
	<div>
		<%= f.submit %>
	</div>

	<div>
		<%= link_to "Home", root_path %></li>

	</div>
<% end %>